<section class="sec-layout sec-board-index">
    <div class="container">
        <div class="row mb40">
            <div class="col-12">
                <h1>Tableau de bord</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="board-info-card">
                    <span class="board-info-card__exerg info-number"><%= @clients_company.size %></span>
                    <div class="board-info-card__heading">
                        Projet clients 
                    </div>
                    <div class="board-info-card__infos">
                        <ul class="list-infos">
                            <% @clients_company.each do |client| %>
                                <li><%= client.name %></li>
                            <% end %>
                        </ul>
                    </div>

                    <div class="board-info-card__actions txt-align-right mt24">
                        <a class="btn2" href="<%= clients_path %>">
                            Tous les projets
                            <span class="btn2__icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M342.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L274.7 256 105.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>