<section class="sec-layout sec-board-index">
    <div class="container-fluid">
        <div class="row mb40">
            <div class="col-12">
                <h1>Tableau de bord</h1>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="board-info-card">
                    <div class="board-info-card__heading">
                        Projet clients
                        <span class="info-number"><%= @clients_company.size %></span>
                    </div>
                    <div class="board-info-card__infos">
                        <ul class="list-infos">
                            <% @clients_company.each do |client| %>
                                <li><%= client.name %></li>
                            <% end %>
                        </ul>
                    </div>

                    <div class="board-info-card__actions">
                        <a href="<%= clients_path %>">Tous les clients</a>
                        <a href="<%= new_client_path %>">Ajouter un client</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>