/******************************************************
1. Colors
******************************************************/
.color-body {
    color:var(--color-body);
}
.color-blue {
    color:var(--color-blue);
}
.color-magenta {
    color:var(--color-magenta);
}
.color-grey-dark {
    color:var(--color-grey-dark);
}
.color-grey-light {
    color:var(--color-grey-light);
}
.color-error {
    color:var(--color-error);
}
.color-success {
    color:var(--color--success);
}
.color-white {
    color:var(--color-white);
}
.color-black {
    color:var(--color-black);
}

/********************************************************
2. Font Variants
********************************************************/
.fw-light {
    font-weight:300;
}
.fw-regular {
    font-weight:400;
}
.fw-bold {
    font-weight:600;
}

/********************************************************
3. Alignments
********************************************************/
.txt-align-center {
    text-align:center; 
}
.txt-align-left {
    text-align:left;
}
.txt-align-right {
    text-align:right;
}

/********************************************************
4. Little Spacings
********************************************************/
.m0 {
    margin:0px;
}
.m8 {
    margin:8px;
}
.m16 {
    margin:16px;
}
.m24 {
    margin:24px;
}
.m32 {
    margin:32px;
}
.m40 {
    margin:40px;
}

.mt0 {
    margin-top:0px;
}
.mt8 {
    margin-top:8px;
}
.mt16 {
    margin-top:16px;
}
.mt24 {
    margin-top:24px;
}
.mt32 {
    margin-top:32px;
}
.mt40 {
    margin-top:40px;
}

.mb0 {
    margin-bottom:0px;
}
.mb8 {
    margin-bottom:8px;
}
.mb16 {
    margin-bottom:16px;
}
.mb24 {
    margin-bottom:24px;
}
.mb32 {
    margin-bottom:32px;
}
.mb40 {
    margin-bottom:40px;
}

.ml0 {
    margin-left:0px;
}
.ml8 {
    margin-left:8px;
}
.ml16 {
    margin-left:16px;
}
.ml24 {
    margin-left:24px;
}
.ml32 {
    margin-left:32px;
}
.ml40 {
    margin-left:40px;
}

.mr0 {
    margin-right:0px;
}
.mr8 {
    margin-right:8px;
}
.mr16 {
    margin-right:16px;
}
.mr24 {
    margin-right:24px;
}
.mr32 {
    margin-right:32px;
}
.mr40 {
    margin-right:40px;
}


.p0 {
    padding:0px;
}
.p8 {
    padding:8px;
}
.p16 {
    padding:16px;
}
.p24 {
    padding:24px;
}
.p32 {
    padding:32px;
}
.p40 {
    padding:40px;
}

.pt0 {
    padding-top:0px;
}
.pt8 {
    padding-top:8px;
}
.pt16 {
    padding-top:16px;
}
.pt24 {
    padding-top:24px;
}
.pt32 {
    padding-top:32px;
}
.pt40 {
    padding-top:40px;
}

.pb0 {
    padding-bottom:0px;
}
.pb8 {
    padding-bottom:8px;
}
.pb16 {
    padding-bottom:16px;
}
.pb24 {
    padding-bottom:24px;
}
.pb32 {
    padding-bottom:32px;
}
.pb40 {
    padding-bottom:40px;
}

.pl0 {
    padding-left:0px;
}
.pl8 {
    padding-left:8px;
}
.pl16 {
    padding-left:16px;
}
.pl24 {
    padding-left:24px;
}
.pl32 {
    padding-left:32px;
}
.pl40 {
    padding-left:40px;
}

.pr0 {
    padding-right:0px;
}
.pr8 {
    padding-right:8px;
}
.pr16 {
    padding-right:16px;
}
.pr24 {
    padding-right:24px;
}
.pr32 {
    padding-right:32px;
}
.pr40 {
    padding-right:40px;
}
/********************************************************
5. Elements
********************************************************/

/* Simple/Default Logo App */
.logo-app {
    font-size:32px;
    font-weight:600;
    transition:opacity .2s ease;
}
.logo-app a {
    text-decoration:none;
}

.logo-app:hover {
    opacity:.7;
}

.idea-mention {
    font-size:12px;
    font-weight:300;
}

.idea-mention img {
    height:18px;
    width:auto;
    margin-left:2px;
}

/* Simple/Default Navigation */
nav:not(.custom) ul {
    list-style:none;
}
nav:not(.custom) ul li {
    display:inline-block;
    padding:0 8px;
}

nav:not(.custom) ul li a {
    text-decoration:none;
    color:var(--color-body);
    font-size:14px;
}


.info-number {
    display:inline-flex;
    justify-content: center;
    align-items: center;
    background:var(--color-magenta);
    color:var(--color-white);
    font-weight:400;
    font-size:16px;
    font-weight:300;
    width:24px;
    height:24px;
    border-radius:50%;
    margin-left:16px;
    line-height:1;
}

/* List Infos */
ul.list-infos {
    list-style:none;
}

ul.list-infos li {
    font-size:14px;
    padding:4px 2px;
    transition:background .3s ease-out;
}

ul.list-infos li:not(:last-child) {
    border-bottom:1px solid var(--color-grey-light);
}

ul.list-infos li:hover {
    background:var(--color-grey-light);
}