.sec-layout {
    padding:40px;
    background:var(--color-grey-light);
    min-height:calc(100vh - 120px);
}

.sec-layout h1 {
    font-size:28px;
    color:var(--color-grey-dark);
}

.sec-layout .baseline {
    margin-top:16px;
    color:var(--color-grey-dark);
    font-size:14px;
}