<section class="sec-layout sec-users-index">
    <div class="container">
        <div class="row mb40">
            <div class="col-12">
                <div class="breadcrumbs">
                    <ul>
                        <li>
                            <a href="<%= board_path %>">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 278.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"/></svg>
                                Tableau de bord
                            </a>
                        </li>
                        <li>
                            <a href="<%= settings_path %>">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 278.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"/></svg>
                                Paramètres
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-8">
                <h1><%= @user.fullname %></h1>
                <div class="baseline">
                    Modifier les informations
                </div>
            </div>
        </div>

        
    </div>

    <div class="container">
        <div class="row">
            <div class="col-6">
                <%= render 'form-edit', user: @user %>
            </div>
        </div>
    </div>
</section>

