<section class="sec-home-index">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6">
                <div class="sec-home-index__img">
                    <img src="<%= asset_path 'animation_640_l9qqhaew.gif' %>">
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="sec-home-index__baseline">
                    <h1>
                        Créer la symbiose
                        <br> 
                        entre les équipes
                        <br> 
                        <span class="color-magenta">Design</span> et <span class="color-blue">Développeurs</span>
                    </h1>
                </div>
                <div class="sec-home-index__buttons mt32">
                    <a class="btn btn--blue-solid btn--big mr8">Se connecter</a>
                    <a class="btn btn--magenta-solid btn--big">Demander une démo</a>
                </div>
            </div>
        </div>
    </div>
</section>