<script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.9.6/lottie.min.js"></script>

<section class="sec-home-index">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6">
                <img src="<%= asset_path 'home-animation1.gif' %>">
            </div>
            <div class="col-12 col-lg-6">
                <div class="sec-home-index__baseline">
                    <h1>
                        Créer la symbiose
                        <br> 
                        entre les équipes
                        <br> 
                        <span class="color-magenta">Design</span> et <span class="color-blue">Développeurs</span>
                    </h1>
                </div>
                <div class="sec-home-index__buttons mt32">
                    <a href="<%= new_user_session_path %>" class="btn btn--blue-solid btn--big btn--up-animate mr8">Se connecter</a>
                    <a class="btn btn--magenta-solid btn--big btn--up-animate">Demander une démo</a>
                </div>
            </div>
        </div>
    </div>
</section>
