.btn {
    display:inline-block;
    background:var(--color-body);
    color:var(--color-white);
    padding:8px 24px;
    border-radius:50px;
    font-weight:300;
    cursor:pointer;
}


/*
    COLORS VARIATIONS
*/
.btn.btn--blue-solid {
    background:var(--color-blue);
}

.btn.btn--magenta-solid {
    background:var(--color-magenta);
}


/*
    SIZES VARIATIONS
*/
.btn.btn--big {
    font-size:18px;
    padding:10px 32px;
}
.btn.btn--small {
    font-size:14px;
    padding:6px 16px;
}