/*
    DEFAULT
*/
.btn {
    display:inline-block;
    text-decoration:none;
    background:var(--color-body);
    color:var(--color-white);
    padding:8px 24px;
    border-radius:50px;
    font-weight:300;
    cursor:pointer;
    transition:all .3s ease;
    transition-property: transform, background;
}



/*
    COLORS VARIATIONS
*/
.btn.btn--blue-solid {
    background:var(--color-blue);
}

@media (min-width:992px) {
    .btn.btn--blue-solid:hover {
        background:var(--color-blue-dark);
    }
}

.btn.btn--magenta-solid {
    background:var(--color-magenta);
}

@media (min-width:992px) {
    .btn.btn--magenta-solid:hover {
        background:var(--color-magenta-dark);;
    }
}



/*
    SIZES VARIATIONS
*/
.btn.btn--big {
    font-size:18px;
    padding:10px 32px;
}
.btn.btn--small {
    font-size:12px;
    padding:6px 16px;
}



/*
    ANIMATIONS
*/
@media (min-width:992px) {
    .btn.btn--up-animate:hover {
        transform:translateY(-2px);
    }
}

/*
    DEFAULT 2
*/
.btn2 {
    display:inline-flex;
    font-size:14px;
    padding:4px 8px;
    text-decoration:none;
    color:var(--color-body);
    background:var(--color-grey-light);
    border-radius:3px;
    border:1px solid var(--color-grey-half);
    transition:all .3s ease;
    transition-property: background;
}

.btn2__icon {
    margin-left:4px;
}

.btn2__icon svg {
    height:10px;
    width:10px;
}

@media (min-width:992px) {
    .btn2:hover {
        background:var(--color-grey-half);
    }
}



.btn-add {
    display:inline-block;
    text-decoration:none;
    background:var(--color-blue);
    color:var(--color-white);
    font-size:16px;
    font-weight:300;
    padding:6px 16px;
    border-radius:4px;
    cursor:pointer;
    transition:background .2s ease;
}
.btn-add svg {
    height:12px;
    width:12px;
    margin-right:6px;
}
.btn-add svg path {
    fill:var(--color-white);
}


@media (min-width:992px) {
    .btn-add:hover {
        background:var(--color-blue-dark);
    }
}