<footer class="footer">
  <div class="d-flex justify-content-end">
    <p>Fait avec du ☕️ et beaucoup de ❤️</p>
  </div>
</footer>



<!-- Provisoire -->
<div style="border-top:6px solid red;margin-bottom:20px;"></div>
Clients
<ul>
  <li>
    <a href="/clients">Clients</a>
    &nbsp;|&nbsp; 
    <a href="/clients/new">Ajouter un client</a>
  </li>
</ul>
<hr style="margin-top:20px;margin-bottom:20px;">

<div style="border-bottom:2px solid red;margin-top:20px;"></div>