<footer class="footer">
  <div class="d-flex justify-content-end">
    <p>Fait avec du ☕️ et beaucoup de ❤️</p>
  </div>
</footer>



<!-- Provisoire -->
<!--
<div style="border-top:6px solid red;margin-bottom:20px;"></div>


<div style="border-bottom:2px solid red;margin-top:20px;"></div>
-->