<div class="header">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="logo-app">
          <a href="/">
            <span class="color-magenta">In</span><span class="color-blue">Dev</span>
          </a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="header__actions">
          <nav>
            <ul>
              <li>
                <a href="">Se connecter</a>
              </li>
              <li>
                <a href="">Créer un compte</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Provisoire -->
Clients
<ul>
  <li>
    <a href="/clients">Clients</a>
    <a href="/clients/new">Ajouter un client</a>
  </li>
</ul>

<div style="border-bottom:2px solid red"></div>