<div class="header">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="logo-app">
          <span class="color-magenta">In</span><span class="color-blue">Dev</span>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="header__actions">
          <nav>
            <ul>
              <li>
                <a href="">Se connecter</a>
              </li>
              <li>
                <a href="">Créer un compte</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
